openapi: 3.0.3
info:
  title: DotAAS Part 2 | HTTP/REST | Asset Administration Shell Repository Service Specification
  description: "The Full Profile of the Asset Administration Shell Repository Service Specification as part of the [Specification of the Asset Administration Shell: Part 2](https://industrialdigitaltwin.org/en/content-hub/aasspecifications).  \nCopyright: Industrial Digital Twin Association (IDTA) 2025"
  contact:
    name: Industrial Digital Twin Association (IDTA)
    email: info@idtwin.org
  license:
    name: CC BY 4.0
    url: https://creativecommons.org/licenses/by/4.0/
  version: V3.1.1_SSP-001
  x-profile-identifier: https://admin-shell.io/aas/API/3/1/AssetAdministrationShellRepositoryServiceSpecification/SSP-001
servers:
- url: https://admin-shell.io/api/v3/
- url: https://example.com/
paths:
  /shells:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns all Asset Administration Shells
      operationId: GetAllAssetAdministrationShells
      parameters:
      - name: assetIds
        in: query
        description: "A list of specific Asset identifiers. Each Asset identifier is a base64-url-encoded [SpecificAssetId](https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/SpecificAssetId)"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example: ?assetIds=eyAibmFtZSI6ICJzb21lLWFzc2V0LWlkIiwgInZhbHVlIjogImh0dHA6Ly9leGFtcGxlLWNvbXBhbnkuY29tL215QXNzZXQiLCAiZXh0ZXJuYWxTdWJqZWN0SWQiOiB7ICJrZXlzIjogWyB7ICJ0eXBlIjogIkdsb2JhbFJlZmVyZW5jZSIsICJ2YWx1ZSI6ICJodHRwOi8vZXhhbXBsZS1jb21wYW55LmNvbS9leGFtcGxlLWNvbXBhbnlzLWFzc2V0LWtleXMiIH0gXSwgInR5cGUiOiAiR2xvYmFsUmVmZXJlbmNlIiB9IH0&assetIds=eyAibmFtZSI6ICJzb21lLW90aGVyLWFzc2V0LWlkIiwgInZhbHVlIjogIjEyMzQ1QUJDIiwgImV4dGVybmFsU3ViamVjdElkIjogeyAia2V5cyI6IFsgeyAidHlwZSI6ICJHbG9iYWxSZWZlcmVuY2UiLCAidmFsdWUiOiAiaHR0cDovL215LW93bi1jb21wYW55LmNvbS9rZXlzIiB9IF0sICJ0eXBlIjogIkdsb2JhbFJlZmVyZW5jZSIgfSB9
          items:
            type: string
      - name: idShort
        in: query
        description: The Asset Administration Shell’s IdShort
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of elements in the response array
        required: false
        schema:
          minimum: 1
          type: integer
      - name: cursor
        in: query
        description: A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Requested Asset Administration Shells
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAssetAdministrationShellsResult"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShells/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByAssetId/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByIdShort/3/1
    post:
      tags:
      - Asset Administration Shell Repository API
      summary: Creates a new Asset Administration Shell
      operationId: PostAssetAdministrationShell
      requestBody:
        description: Asset Administration Shell object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetAdministrationShell"
        required: true
      responses:
        "201":
          description: Asset Administration Shell created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetAdministrationShell"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "409":
          $ref: "#/components/responses/conflict"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostAssetAdministrationShell/3/1
  /shells/$reference:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns References to all Asset Administration Shells
      operationId: GetAllAssetAdministrationShells-Reference
      parameters:
      - name: assetIds
        in: query
        description: "A list of specific Asset identifiers. Each Asset identifier is a base64-url-encoded [SpecificAssetId](https://api.swaggerhub.com/domains/Plattform_i40/Part1-MetaModel-Schemas/V3.1.1#/components/schemas/SpecificAssetId)"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example: ?assetIds=eyAibmFtZSI6ICJzb21lLWFzc2V0LWlkIiwgInZhbHVlIjogImh0dHA6Ly9leGFtcGxlLWNvbXBhbnkuY29tL215QXNzZXQiLCAiZXh0ZXJuYWxTdWJqZWN0SWQiOiB7ICJrZXlzIjogWyB7ICJ0eXBlIjogIkdsb2JhbFJlZmVyZW5jZSIsICJ2YWx1ZSI6ICJodHRwOi8vZXhhbXBsZS1jb21wYW55LmNvbS9leGFtcGxlLWNvbXBhbnlzLWFzc2V0LWtleXMiIH0gXSwgInR5cGUiOiAiR2xvYmFsUmVmZXJlbmNlIiB9IH0&assetIds=eyAibmFtZSI6ICJzb21lLW90aGVyLWFzc2V0LWlkIiwgInZhbHVlIjogIjEyMzQ1QUJDIiwgImV4dGVybmFsU3ViamVjdElkIjogeyAia2V5cyI6IFsgeyAidHlwZSI6ICJHbG9iYWxSZWZlcmVuY2UiLCAidmFsdWUiOiAiaHR0cDovL215LW93bi1jb21wYW55LmNvbS9rZXlzIiB9IF0sICJ0eXBlIjogIkdsb2JhbFJlZmVyZW5jZSIgfSB9
          items:
            type: string
      - name: idShort
        in: query
        description: The Asset Administration Shell’s IdShort
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of elements in the response array
        required: false
        schema:
          minimum: 1
          type: integer
      - name: cursor
        in: query
        description: A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Requested Asset Administration Shells as a list of References
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetReferencesResult"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShells/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByAssetId/3/1
      - https://admin-shell.io/aas/API/GetAllAssetAdministrationShellsByIdShort/3/1
  /shells/{aasIdentifier}:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns a specific Asset Administration Shell
      operationId: GetAssetAdministrationShellById
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Requested Asset Administration Shell
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetAdministrationShell"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAssetAdministrationShellById/3/1
    put:
      tags:
      - Asset Administration Shell Repository API
      summary: Creates or updates an existing Asset Administration Shell
      operationId: PutAssetAdministrationShellById
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Asset Administration Shell object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetAdministrationShell"
        required: true
      responses:
        "201":
          description: Asset Administration Shell created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetAdministrationShell"
        "204":
          description: Asset Administration Shell updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutAssetAdministrationShellById/3/1
    delete:
      tags:
      - Asset Administration Shell Repository API
      summary: Deletes an Asset Administration Shell
      operationId: DeleteAssetAdministrationShellById
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Asset Administration Shell deleted successfully
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          description: Default error handling for unmentioned status codes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Result"
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteAssetAdministrationShellById/3/1
  /shells/{aasIdentifier}/$reference:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns a specific Asset Administration Shell as a Reference
      operationId: GetAssetAdministrationShellById-Reference_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Requested Asset Administration Shell
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reference"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAssetAdministrationShellById/3/1
  /shells/{aasIdentifier}/asset-information:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the Asset Information
      operationId: GetAssetInformation_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Requested Asset Information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetInformation"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAssetInformation/3/1
    put:
      tags:
      - Asset Administration Shell Repository API
      summary: Updates the Asset Information
      operationId: PutAssetInformation_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Asset Information object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssetInformation"
        required: true
      responses:
        "204":
          description: Asset Information updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutAssetInformation/3/1
  /shells/{aasIdentifier}/asset-information/thumbnail:
    get:
      tags:
      - Asset Administration Shell Repository API
      operationId: GetThumbnail_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: The thumbnail of the Asset Information.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetThumbnail/3/1
    put:
      tags:
      - Asset Administration Shell Repository API
      operationId: PutThumbnail_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Thumbnail to upload
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/assetinformation_thumbnail_body"
            encoding:
              file:
                contentType: application/octet-stream
        required: true
      responses:
        "204":
          description: Thumbnail updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutThumbnail/3/1
    delete:
      tags:
      - Asset Administration Shell Repository API
      operationId: DeleteThumbnail_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: "Thumbnail deletion successful.  Deprecated: Use response code 204 instead."
        "204":
          $ref: "#/components/responses/no-content"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteThumbnail/3/1
  /shells/{aasIdentifier}/submodel-refs:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns all submodel references
      operationId: GetAllSubmodelReferences_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of elements in the response array
        required: false
        schema:
          minimum: 1
          type: integer
      - name: cursor
        in: query
        description: A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Requested submodel references
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetReferencesResult"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelReferences/3/1
    post:
      tags:
      - Asset Administration Shell Repository API
      summary: Creates a submodel reference at the Asset Administration Shell
      operationId: PostSubmodelReference_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Reference to the Submodel
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Reference"
        required: true
      responses:
        "201":
          description: Submodel reference created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reference"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "409":
          $ref: "#/components/responses/conflict"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostSubmodelReference/3/1
  /shells/{aasIdentifier}/submodel-refs/{submodelIdentifier}:
    delete:
      tags:
      - Asset Administration Shell Repository API
      summary: Deletes the submodel reference from the Asset Administration Shell. Does not delete the submodel itself!
      operationId: DeleteSubmodelReference_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Submodel reference deleted successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteSubmodelReference/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the Submodel
      operationId: GetSubmodelById_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - deep
          - core
          default: deep
      - name: extent
        in: query
        description: Determines to which extent the resource is being serialized
        required: false
        schema:
          type: string
          enum:
          - withBlobValue
          - withoutBlobValue
          default: withoutBlobValue
      responses:
        "200":
          description: Requested Submodel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Submodel"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodel/3/1
    put:
      tags:
      - Asset Administration Shell Repository API
      summary: Creates or updates the Submodel
      operationId: PutSubmodelById_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Submodel object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Submodel"
        required: true
      responses:
        "201":
          description: Submodel reference created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reference"
        "204":
          description: Submodel updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutSubmodelById/3/1
    delete:
      tags:
      - Asset Administration Shell Repository API
      summary: Deletes the submodel from the Asset Administration Shell and the Repository.
      operationId: DeleteSubmodelById_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Submodel deleted successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteSubmodelById/3/1
    patch:
      tags:
      - Asset Administration Shell Repository API
      summary: Updates the Submodel
      operationId: PatchSubmodel_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - core
          default: core
      requestBody:
        description: Submodel object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Submodel"
        required: true
      responses:
        "204":
          description: Submodel updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PatchSubmodel/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/$metadata:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the Submodel's metadata elements
      operationId: GetSubmodelById-Metadata_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Requested Submodel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmodelMetadata"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodel/3/1
    patch:
      tags:
      - Asset Administration Shell Repository API
      summary: Updates the metadata attributes of the Submodel
      operationId: PatchSubmodelById-Metadata_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Submodel object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmodelMetadata"
        required: true
      responses:
        "204":
          description: Submodel updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PatchSubmodel/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/$value:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the Submodel's ValueOnly representation
      operationId: GetSubmodelById-ValueOnly_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - deep
          - core
          default: deep
      - name: extent
        in: query
        description: Determines to which extent the resource is being serialized
        required: false
        schema:
          type: string
          enum:
          - withBlobValue
          - withoutBlobValue
          default: withoutBlobValue
      responses:
        "200":
          description: Requested Submodel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmodelValue"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodel/3/1
    patch:
      tags:
      - Asset Administration Shell Repository API
      summary: Updates the values of the Submodel
      operationId: PatchSubmodelById-ValueOnly_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - core
          default: core
      requestBody:
        description: Submodel object in the ValueOnly representation
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmodelValue"
        required: true
      responses:
        "204":
          description: Submodel updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PatchSubmodel/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/$reference:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the Submodel as a Reference
      operationId: GetSubmodelById-Reference_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Requested Submodel as a Reference
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reference"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodel/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/$path:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the elements of this submodel in path notation.
      operationId: GetSubmodelById-Path_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - deep
          - core
          default: deep
      responses:
        "200":
          description: Requested Submodel in Path notation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PathItem"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodel/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns all submodel elements including their hierarchy
      operationId: GetAllSubmodelElements_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of elements in the response array
        required: false
        schema:
          minimum: 1
          type: integer
      - name: cursor
        in: query
        description: A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue
        required: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - deep
          - core
          default: deep
      - name: extent
        in: query
        description: Determines to which extent the resource is being serialized
        required: false
        schema:
          type: string
          enum:
          - withBlobValue
          - withoutBlobValue
          default: withoutBlobValue
      responses:
        "200":
          description: List of found submodel elements
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSubmodelElementsResult"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelElements/3/1
    post:
      tags:
      - Asset Administration Shell Repository API
      summary: Creates a new submodel element
      operationId: PostSubmodelElement_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Requested submodel element
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmodelElement"
        required: true
      responses:
        "201":
          description: Submodel element created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmodelElement"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "409":
          $ref: "#/components/responses/conflict"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostSubmodelElement/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/$metadata:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns all submodel elements including their hierarchy
      operationId: GetAllSubmodelElements-Metadata_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of elements in the response array
        required: false
        schema:
          minimum: 1
          type: integer
      - name: cursor
        in: query
        description: A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue
        required: false
        schema:
          type: string
      responses:
        "200":
          description: List of found submodel elements
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSubmodelElementsMetadataResult"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelElements/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/$value:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns all submodel elements including their hierarchy in the ValueOnly representation
      operationId: GetAllSubmodelElements-ValueOnly_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of elements in the response array
        required: false
        schema:
          minimum: 1
          type: integer
      - name: cursor
        in: query
        description: A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue
        required: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - deep
          - core
          default: deep
      responses:
        "200":
          description: List of found submodel elements in their ValueOnly representation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetSubmodelElementsValueResult"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelElements/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/$reference:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns all submodel elements as a list of References
      operationId: GetAllSubmodelElements-Reference_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of elements in the response array
        required: false
        schema:
          minimum: 1
          type: integer
      - name: cursor
        in: query
        description: A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue
        required: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        deprecated: true
        schema:
          type: string
          enum:
          - core
          default: core
      responses:
        "200":
          description: List of References of the found submodel elements
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetReferencesResult"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelElements/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/$path:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns all submodel elements including their hierarchy
      operationId: GetAllSubmodelElements-Path_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of elements in the response array
        required: false
        schema:
          minimum: 1
          type: integer
      - name: cursor
        in: query
        description: A server-generated identifier retrieved from pagingMetadata that specifies from which position the result listing should continue
        required: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - deep
          - core
          default: deep
      - name: extent
        in: query
        description: Determines to which extent the resource is being serialized
        required: false
        schema:
          type: string
          enum:
          - withBlobValue
          - withoutBlobValue
          default: withoutBlobValue
      responses:
        "200":
          description: List of found submodel elements in the Path notation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPathItemsResult"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetAllSubmodelElements/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns a specific submodel element from the Submodel at a specified path
      operationId: GetSubmodelElementByPath_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - deep
          - core
          default: deep
      - name: extent
        in: query
        description: Determines to which extent the resource is being serialized
        required: false
        schema:
          type: string
          enum:
          - withBlobValue
          - withoutBlobValue
          default: withoutBlobValue
      responses:
        "200":
          description: Requested submodel element
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmodelElement"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodelElementByPath/3/1
    put:
      tags:
      - Asset Administration Shell Repository API
      summary: Creates or updates an existing submodel element at a specified path within submodel elements hierarchy
      operationId: PutSubmodelElementByPath_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Requested submodel element
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmodelElement"
        required: true
      responses:
        "201":
          description: Submodel element created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmodelElement"
        "204":
          description: Submodel element updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutSubmodelElementByPath/3/1
    post:
      tags:
      - Asset Administration Shell Repository API
      summary: Creates a new submodel element at a specified path within submodel elements hierarchy
      operationId: PostSubmodelElementByPath_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Requested submodel element
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmodelElement"
        required: true
      responses:
        "201":
          description: Submodel element created successfully
          headers:
            Location:
              description: URL of the newly created resource
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmodelElement"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "409":
          $ref: "#/components/responses/conflict"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PostSubmodelElementByPath/3/1
    delete:
      tags:
      - Asset Administration Shell Repository API
      summary: Deletes a submodel element at a specified path within the submodel elements hierarchy
      operationId: DeleteSubmodelElementByPath_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: Submodel element deleted successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteSubmodelElementByPath/3/1
    patch:
      tags:
      - Asset Administration Shell Repository API
      summary: Updates an existing submodel element value at a specified path within submodel elements hierarchy
      operationId: PatchSubmodelElementValueByPath_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - deep
          - core
          default: deep
      requestBody:
        description: The updated value of the submodel element
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmodelElement"
        required: true
      responses:
        "204":
          description: Submodel element updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PatchSubmodelElementByPath/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/$metadata:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the metadata attributes if a specific submodel element from the Submodel at a specified path
      operationId: GetSubmodelElementByPath-Metadata_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Requested submodel element
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmodelElementMetadata"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodelElementByPath/3/1
    patch:
      tags:
      - Asset Administration Shell Repository API
      summary: Updates the metadata attributes of an existing submodel element value at a specified path within submodel elements hierarchy
      operationId: PatchSubmodelElementValueByPath-Metadata
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The updated metadata attributes of the submodel element
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmodelElementMetadata"
        required: true
      responses:
        "204":
          description: Submodel element updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PatchSubmodelElementByPath/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/$value:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns a specific submodel element from the Submodel at a specified path in the ValueOnly representation
      operationId: GetSubmodelElementByPath-ValueOnly_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - deep
          - core
          default: deep
      - name: extent
        in: query
        description: Determines to which extent the resource is being serialized
        required: false
        schema:
          type: string
          enum:
          - withBlobValue
          - withoutBlobValue
          default: withoutBlobValue
      responses:
        "200":
          description: Requested submodel element in its ValueOnly representation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmodelElementValue"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodelElementByPath/3/1
    patch:
      tags:
      - Asset Administration Shell Repository API
      summary: Updates the value of an existing submodel element value at a specified path within submodel elements hierarchy
      operationId: PatchSubmodelElementValueByPath-ValueOnly
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - deep
          - core
          default: deep
      requestBody:
        description: The updated value of the submodel element
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmodelElementValue"
        required: true
      responses:
        "204":
          description: Submodel element updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PatchSubmodelElementByPath/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/$reference:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the Reference of a specific submodel element from the Submodel at a specified path
      operationId: GetSubmodelElementByPath-Reference_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        deprecated: true
        schema:
          type: string
          enum:
          - core
          default: core
      responses:
        "200":
          description: Requested submodel element in its ValueOnly representation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Reference"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodelElementByPath/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/$path:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns a specific submodel element from the Submodel at a specified path in the Path notation
      operationId: GetSubmodelElementByPath-Path_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: level
        in: query
        description: Determines the structural depth of the respective resource content
        required: false
        schema:
          type: string
          enum:
          - deep
          - core
          default: deep
      responses:
        "200":
          description: Requested submodel element in the Path notation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PathItem"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSubmodelElementByPath/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/attachment:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Downloads file content from a specific submodel element from the Submodel at a specified path
      operationId: GetFileByPath_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Requested file
          headers:
            Content-Disposition:
              description: In order to physically download the file usually set to attachment with a filename
              schema:
                type: string
              example: attachment; filename="filename.jpg"
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetFileByPath/3/1
    put:
      tags:
      - Asset Administration Shell Repository API
      summary: Uploads file content to an existing submodel element at a specified path within submodel elements hierarchy
      operationId: PutFileByPath_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: File to upload
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/idShortPath_attachment_body"
            encoding:
              file:
                contentType: application/octet-stream
        required: true
      responses:
        "204":
          description: Submodel element updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/PutFileByPath/3/1
    delete:
      tags:
      - Asset Administration Shell Repository API
      summary: Deletes file content of an existing submodel element at a specified path within submodel elements hierarchy
      operationId: DeleteFileByPath_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Submodel element updated successfully
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/DeleteFileByPath/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/invoke:
    post:
      tags:
      - Asset Administration Shell Repository API
      summary: Synchronously invokes an Operation at a specified path
      operationId: InvokeOperation_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Operation request object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OperationRequest"
        required: true
      responses:
        "200":
          description: Operation result object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResult"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/InvokeOperationSync/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/invoke/$value:
    post:
      tags:
      - Asset Administration Shell Repository API
      summary: Synchronously invokes an Operation at a specified path
      operationId: InvokeOperation-ValueOnly_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Operation request object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OperationRequestValueOnly"
        required: true
      responses:
        "200":
          description: Operation result object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResultValueOnly"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/InvokeOperationSync/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/invoke-async:
    post:
      tags:
      - Asset Administration Shell Repository API
      summary: Asynchronously invokes an Operation at a specified path
      operationId: InvokeOperationAsync_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Operation request object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OperationRequest"
        required: true
      responses:
        "202":
          $ref: "#/components/responses/accepted"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/InvokeOperationAsync/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/invoke-async/$value:
    post:
      tags:
      - Asset Administration Shell Repository API
      summary: Asynchronously invokes an Operation at a specified path
      operationId: InvokeOperationAsync-ValueOnly_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: Operation request object
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OperationRequestValueOnly"
        required: true
      responses:
        "202":
          $ref: "#/components/responses/accepted"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/InvokeOperationAsync/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/operation-status/{handleId}:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the Operation status of an asynchronous invoked Operation
      operationId: GetOperationAsyncStatus_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: handleId
        in: path
        description: The returned handle id of an operation’s asynchronous invocation used to request the current state of the operation’s execution (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Operation result object containing information that the 'executionState' is still 'Running'
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BaseOperationResult"
        "302":
          $ref: "#/components/responses/found"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetOperationAsyncStatus/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/operation-results/{handleId}:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the Operation result of an asynchronous invoked Operation
      operationId: GetOperationAsyncResult_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: handleId
        in: path
        description: The returned handle id of an operation’s asynchronous invocation used to request the current state of the operation’s execution (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Operation result object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResult"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetOperationAsyncResult/3/1
  /shells/{aasIdentifier}/submodels/{submodelIdentifier}/submodel-elements/{idShortPath}/operation-results/{handleId}/$value:
    get:
      tags:
      - Asset Administration Shell Repository API
      summary: Returns the ValueOnly notation of the Operation result of an asynchronous invoked Operation
      operationId: GetOperationAsyncResult-ValueOnly_AasRepository
      parameters:
      - name: aasIdentifier
        in: path
        description: The Asset Administration Shell’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: submodelIdentifier
        in: path
        description: The Submodel’s unique id (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: idShortPath
        in: path
        description: IdShort path to the submodel element (dot-separated)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: handleId
        in: path
        description: The returned handle id of an operation’s asynchronous invocation used to request the current state of the operation’s execution (UTF8-BASE64-URL-encoded)
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Operation result object
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationResultValueOnly"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "404":
          $ref: "#/components/responses/not-found"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetOperationAsyncResult/3/1
  /serialization:
    get:
      tags:
      - Serialization API
      summary: Returns an appropriate serialization based on the specified format (see SerializationFormat)
      operationId: GenerateSerializationByIds
      parameters:
      - name: aasIds
        in: query
        description: The Asset Administration Shells' unique ids (UTF8-BASE64-URL-encoded)
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: submodelIds
        in: query
        description: The Submodels' unique ids (UTF8-BASE64-URL-encoded)
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: includeConceptDescriptions
        in: query
        description: Include Concept Descriptions?
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      responses:
        "200":
          description: Requested serialization based on SerializationFormat
          content:
            application/asset-administration-shell-package+xml:
              schema:
                type: string
                description: AASX package
                format: binary
            application/json:
              schema:
                $ref: "#/components/schemas/Environment"
            application/xml:
              schema:
                $ref: "#/components/schemas/Environment"
        "400":
          $ref: "#/components/responses/bad-request"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
        "500":
          $ref: "#/components/responses/internal-server-error"
        default:
          $ref: "#/components/responses/default"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GenerateSerializationByIds/3/1
  /description:
    get:
      tags:
      - Description API
      summary: Returns the self-describing information of a network resource (ServiceDescription)
      operationId: GetSelfDescription
      responses:
        "200":
          description: Requested Description
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceDescription"
        "401":
          $ref: "#/components/responses/unauthorized"
        "403":
          $ref: "#/components/responses/forbidden"
      x-semanticIds:
      - https://admin-shell.io/aas/API/GetSelfDescription/3/1
components:
  schemas:
    GetAssetAdministrationShellsResult:
      allOf:
      - $ref: "#/components/schemas/PagedResult"
      - type: object
        properties:
          result:
            type: array
            items:
              $ref: "#/components/schemas/AssetAdministrationShell"
    PagedResult:
      required:
      - paging_metadata
      type: object
      properties:
        paging_metadata:
          $ref: "#/components/schemas/PagedResult_paging_metadata"
    AssetAdministrationShell:
      allOf:
      - $ref: "#/components/schemas/Identifiable"
      - $ref: "#/components/schemas/HasDataSpecification"
      - required:
        - assetInformation
        properties:
          derivedFrom:
            $ref: "#/components/schemas/Reference"
          assetInformation:
            $ref: "#/components/schemas/AssetInformation"
          submodels:
            minItems: 1
            type: array
            items:
              $ref: "#/components/schemas/Reference"
          modelType:
            pattern: ^AssetAdministrationShell$
    Identifiable:
      allOf:
      - $ref: "#/components/schemas/Referable"
      - required:
        - id
        properties:
          administration:
            $ref: "#/components/schemas/AdministrativeInformation"
          id:
            maxLength: 2048
            minLength: 1
            pattern: "^([\\x09\\x0a\\x0d\\x20-\\ud7ff\\ue000-\\ufffd]|\\ud800[\\udc00-\\udfff]|[\\ud801-\\udbfe][\\udc00-\\udfff]|\\udbff[\\udc00-\\udfff])*$"
            type: string
    Referable:
      allOf:
      - $ref: "#/components/schemas/HasExtensions"
      - required:
        - modelType
        properties:
          category:
            maxLength: 128
            minLength: 1
            pattern: "^([\\x09\\x0a\\x0d\\x20-\\ud7ff\\ue000-\\ufffd]|\\ud800[\\udc00-\\udfff]|[\\ud801-\\udbfe][\\udc00-\\udfff]|\\udbff[\\udc00-\\udfff])*$"
            type: string
          idShort:
            type: string
            allOf:
            - maxLength: 128
              minLength: 1
            - pattern: "^[a-zA-Z][a-zA-Z0-9_-]*[a-zA-Z0-9_]+$"
          displayName:
            minItems: 1
            type: array
            items:
[...]
